@model Project_19101001_002.Models.Appointment

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Appointment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Firstname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Firstname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Secondname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Secondname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dropdownn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dropdownn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dropdown)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dropdown)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
